extends layout

block content
<<<<<<< HEAD
  h1= title
  p Welcome to #{title}
  p Jackson is a certified advacned diver and will attempt to become a dive master this summer
=======
  h1= Jackson Ozanne
  p Welcome to #{title}
  'Jackson is a certified advanced scuba diver and is going to attempt to certify as a dive master this summer'
>>>>>>> dac755246253a6c340d63638ff6926665299eb5a
